# ---   .gitignore

# SQLite3 databases 
drp.db

# tests including test databases
# schema and sql files are exempt
tests/*.db
tests/*.tsv
tests/*.csv

# data files for processing by application 
# typically *.tsv or *.csv
# note: the directory itself is also ignored
imports/

# application output
reports/
logs/

# directories to leave notes, etc.
dev_misc/
tmp/

# Python
.env
.venv
env/
venv/
env.bak/
venv.bak/
*.so
*.pyc
__pycache__/

# Miscellaneous
*.DS_Store


